body {
    background-color: #594e14;
}
h1 {
    color: #ff1a00;
    text-decoration:underline;
    text-align: center;
    font-size: 40px;
    
    }



    img {
        border: inset ;
        border-color: #ff1a00;
        border-radius:  4em;
        margin: auto;
        display:block;
        border-width: 10px;
    }

h2 {
    color:#c7c9c9;
    text-align: center;
    
}

.left {
color:yellow;
background-color: rgb(230, 183, 113);
top:100px;
left:0;
z-index: 100;
margin-right: 445px;
border:double;
border-radius:3em;
border-right:dotted;
border-left: dotted;
}
h3 {
    color:black;
    font-size:22px;
}
h4 {
    color: black;
    text-align:start;
}